extends layout

block content
  .formContainer
    h2 Edit Your Account
    form(action="/account" method="POST")
      label(for="name") Name
      input(type="text" name="name" value=user.name)
      label(for="email") Email Address
      input(type="email" name="email" value=user.email)
      input.button(type="submit" value="Update My Account")
    h4 Your Post you can edit here
  .promotionalContents--display
    .promotionalContents--posts
      //- =h.dump(posts)