extends layout

include mixins/_sideMenu
include mixins/_review

block withMenu
  .community
    +sideMenu()
    p main Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    //- +review()
