extends layout

include mixins/_courseCard

block content
  .inner
    h2= title
    .course__intro
        h4 Ready to learn and up your game as a web developer? Here is a listing of all the courses I've put out. Some of them are paid and some of them are free. I'm delivering a few new courses every year, so sign up for any of these courses and you'll hear when I announce new ones!
    .courses
      each course in courses
        +courseCard(course)