extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${course.photo || 'store.png'}`)
      h2.title.title--single
        a(href=`/stores/${course.slug}`) #{course.name}

  .single__details.inner