extends layout

block content
  .introduction
    .heading
      h1 ALL CODE. ALL DAY.
      h4.highlightShort Korean Programming / Designing / IT Community.
  
  .inspirationalQuotes
    .inspirationalQuotes--quote
      .inspirationalQuotes-title
        h4 inspirationalQuotes
      .inspirationalQuotes-text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur soluta tempora aspernatur repudiandae sit iusto. Obcaecati doloribus enim dignissimos dolores molestias, quae hic impedit magni exercitationem doloremque odio facere.

  .features
    .features--title
      h3 Explore our free knowledges
    .codingCommunityContainer
      .codingCommunity
        .codingCommunity--image
        .codingCommunity--text
          .codingCommunity--text__title
            h4 Coding Community
          .codingCommunity--text__paraph
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .codingCommunity
        .codingCommunity--image
        .codingCommunity--text
          .codingCommunity--text__title
            h4 codingCourses
          .codingCommunity--text__paraph
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit.

  .promotionalContents
    .promotionalContents--title
      img(src="/images/photos/bg13.jpg")
      h4 title goes here
      p centered paragraph goes here
    .promotionalContents--display
      .promotionalContents--posts
        each post in posts
          .promotionalContents--polaroid 
            img(src=`/uploads/${post.photo || 'post.png'}`)
            .promotionalContents--polaroid__text
              p #{post.name} 
                br 
                | by #{post.name}
    .promotionalContents--title
      h4 bottom title goes here
      p centered paragraph goes here centered paragraph goes here centered paragraph goes here centered paragraph goes here