extends layout

block content
  .introduction
    .heading
      h1 ALL CODE. ALL DAY.
      h4.highlightShort 초보에서 고수까지 쉽게 배울수 있는 온라인 무료 코딩 강좌
  
  .inspirationalQuotes
    .inspirationalQuotes--quote
      .inspirationalQuotes-title
        h4 inspirationalQuotes
      .inspirationalQuotes-text
        p eat(); code(); sleep(); repeat();

  .features
    .features--title
      h3 올 인 코딩 탐구 생활
    .codingCommunityContainer
      .codingCommunity
        .codingCommunity--image.left
        .codingCommunity--text
          .codingCommunity--text__title
            h4 코딩 커뮤니티
          .codingCommunity--text__paraph
            ul
              li 글로벌 한인 코딩 커뮤니티에 조인하세요 (Meetup)
              li 프로그래밍 산업 동향 & 해외/국내 취직 정보 공유 및 지원
              li 코딩 언어, 라이브러리, 툴 등 코딩 관련 업데이트 공유
      .codingCommunity
        .codingCommunity--image.right
        .codingCommunity--text
          .codingCommunity--text__title
            h4 코딩 수업 (자바 스크립트 풀 스택)
          .codingCommunity--text__paraph
            ul
              li 프로그래밍 기본기 갇추기
              li 자바스크립트 마스터하기
              li ES6 배우기
              li React 프론트엔드 프레임웤 배우기
              li Node.js 서버 | Mongodb 데이타 베이스 배우기

  .promotionalContents
    .promotionalContents--title
      img(src="/images/photos/bg13.jpg")
      h4 title goes here
      p centered paragraph goes here
    .promotionalContents--display
      .promotionalContents--posts
        each post in posts
          .promotionalContents--polaroid 
            img(src=`/uploads/${post.photo || 'post.png'}`)
            .promotionalContents--polaroid__text
              p #{post.name} 
                br 
                | by #{post.name}
    .promotionalContents--title
      h4 bottom title goes here
      p centered paragraph goes here centered paragraph goes here centered paragraph goes here centered paragraph goes here