extends layout

block content
  .inner
    .introduction
      .heading
        h1.grit 독학 코딩 커뮤니티
        h4
          span.grit 프로그래밍을 배우고 싶으신데 🧐어떻게 시작해야할지 모르시겠습니까?
        h4
          span.highlight 학력없이 단기간에 💻프로그래머가 되도록 도와드리겠습니다.
      
      .cause
        h3.title 안녕하세요? 전 다윗 입니다.
        h5 여러분 세상이 너무 빠르게 변해가죠? 스마트폰이 처음 나왔을때를 기억하시는 분들이라면, 인터넷이 대중화되기 시작했던 때를 기억하시는 분들이라면 공감하실거에요.그 이후로 세상이 얼마나 빨리 변화해왔는지 무어의 법칙(그래프)처럼 과학의 발전의 속도는 점점 더 빠르게 이루어 지고 있죠? 이미 컴퓨터는 우리의 생활 깊숙이 자리 잡고 모든 산업 분야에서 컴퓨터의 비중이 사람의 필요성을 압도해가고 있습니다.
          br
          br
          |제가 수년전 프로그래밍을 혼자 배우겠다고 마음 먹었을때도 앞으로 다가올 세상에 대한 두려움이 큰 작용을 했던거 같아요. 이대로 회사를 다니다간 나의 존재와 가치가 낮아지는건 시간 문제겠구나 싶더라구요. 그때 예상했던것과 같이 요즘은 무인 자동차, 콜 서비스, 각종 서비스 분야 등 모든 산업 분야에서 자본주의 원칙에 따라 우리가 설 자리가 점점 줄어드는거 같습니다. Elon Musk가 AI에 대한 위험성을 알리던 인터뷰에서 했던 말이 전 인상적이었어요. If you can't beat it then join it. 이길수 없다면 가담하라는 말이죠.
          br
          br
          |평범하고 코딩 한줄 써본적 없던 제가 학력도 없이 독학으로 프로그래밍을 공부하여 취직도 하고 그 외 많은 기회들을 얻는것을 보고 주변분들이 제게 야! 너 보기보다 똑똑한가 보다. 또는 야 너 공부는 못했는데 머리는 좋은가 보다 등의 말을 듣게되었는데 기분이 좋다기보다 오히려 좀 화가 나더라구요 전..뭔가 사회가 만들어 놓은 교육 환경이 잘못되어 있구나..개인적인 사정으로 형편이 안되서 좋은 교육을 받지 못하는 사람들이 만은데..기존의 정규 교육 환경은 그런 저 같은 사람들과 좋은 교육 환경을 누릴수 있는 사람들과의 차등을 두도록 만들어져 있구나..별로 중요하지 안거나 추후 사용하지 안아 잊혀질 지식들을 많이 포함시켜서 수년간 비싼 학비와 시간을 투자해야지 통제 기관들에서 인증하는 자격증과 졸업장이 있어야지 훌륭한 사람으로 인정받고 편하고 좋은 직장을 다니며 잘 살수 있는거구나..
          br
          br
          |저도 모를땐 그랬습니다. 프로그래머들은 산수를 잘하고 똑똑해야할수 있는것으로 제 생각엔 그건 단지 프로그래밍이라는 산업 분야는 아직 역사가 비교적 짧고 기존 교육 과정에 포함되지 안아서 일반인들이 잘 모르기 때문에 어렵게 느껴지는것이고 일반인들이 쉽게 접하지 못하도록 만드는 환경에 영향이 있는거 같습니다. 하지만 우리에겐 이제 인터넷이 있죠. 마음만 먹으면 무엇이든지 찾아서 스스로 배울수 있는 위대한 도구가 대부분의 사람들에게 공유되어 있기때문에 본인이 배울 의지가 있고 시간과 노력을 투자한다면 누구나 배울수 있게된것 입니다. 우리가 한글을 배운것처럼 천재가 아니어도 산수를 배울수 있듯이..그냥 컴퓨터가 쓰는 단순한 언어를 배우는것 뿐이죠. 다행이도 프로그래밍은 실력만 있으면 (즉, 할줄 알면) 결과물로 인정 받을수 있으니 그나마 공평한 (플레이 해볼만한) 게임이라 생각합니다.
          br
          br
          |그래서 본 교육 과정을 준비하게 되었습니다. 제가 혼자 어디서부터 어떻게 시작해야 몰라서 낭비했던 시간들과 눈물나게 고생스러웠던 경험들을 기억하며..시간을 뒤돌아가며 독학으로 코딩을 배울때 격었던 시행 착오들을 되세기며 어디서부터 어떻게 시작해서 순서별, 단계별로 무엇을 공부해야하는지 그리고 검증해보았습니다. 제가 현재 미국에서 근무를 하고 있는데 여긴 코딩 붓캠프들이 흥행하고 있더라구요. 단기 프로그래머 양성 코스들을 연구하고 직접 체험해보고..
          br
          br
          |전 자바스크립트 풀 스택 개발자로 현재 미국 CA 주에서 금융 업계에서 소프트웨어 엔지니어로 근무 하고 있는 평범한 사람입니다. 하나 평범하지 안은게 있다면 전 늦게 시작한것 만큼 제 시간의 전부를 쓰고 싶을만큼 프로그래밍을 좋아하고 특히, 자바스크립트 풀스택의 모든것을 알고자 노력하고 있습니다. 만약 여러분들 중 어떤 이유로든 코딩을 배우고자 하시는 분이 계신다면 저와 입장이 다를수는 있겠지만 그 심정과 고생스러움을 제가 잘 이해할수 있을거라 생각하고 성심껏 교육 과정을 준비할테니 용기를 내시고 도전하십시요. 포지 하지 안는 이상 실패하지 안는것 입니다.
    .subjects
      .subject.subject--one
        h3.title.highlight
          a(href=`/community/}`) 코딩 커뮤니티
        ul.verticalTags
          li.tag
            a.tag__link2(href=`/community`)
              span.tag__text 로드 투 코드 (All About Coding)
          li.tag
            a.tag__link2(href="JavaSCript")
              span.tag__text 프로그래밍 관련 소통
          li.tag
            a.tag__link2(href="HTML")
              span.tag__text 자바스크립트의 모든것
          li.tag
            a.tag__link2(href="HTML")
              span.tag__text 풀 스택 앱 만들기
          li.tag
            a.tag__link2(href="CSS & SASS")
              span.tag__text 포토폴리오 잘 만들기
          li.tag
            a.tag__link2(href="JavaSCript")
              span.tag__text 프로그래머로 취직 잘하는 법

      .subject.subject--two
        h3.title.highlight
          a(href=`/stores/}`) 풀 스택 프로그래머
        ul.verticalTags
          li.tag
            a.tag__link2(href="HTML")
              span.tag__text 시작은 HTML부터
          li.tag
            a.tag__link2(href="CSS & SASS")
              span.tag__text CSS & SASS 도 알아야죠
          li.tag
            a.tag__link2(href="JavaSCript")
              span.tag__text JavaSCript 기본기부터
          li.tag
            a.tag__link2(href="React.js")
              span.tag__text React.js 프레임워크
          li.tag
            a.tag__link2(href="Node.js")
              span.tag__text Node.js 서버
          li.tag
            a.tag__link2(href="MongoDB")
              span.tag__text MongoDB 데이타 베이스