extends layout

block content
  .inner
    .intro
      .heading
        h1.title--single.grit 코딩 킹 메이커
        h3
          span.grit 프로그래밍을 배우고 싶으신데 어떻게 시작해야할지 모르시겠습니까?
          br
          span.highlight 코딩 킹 메이커가 당신이 훌륭한 프로그래머가 될수 있도록 도와드리겠습니다.
    
    .subjects
      .subject.subject--one
        h3.title.highlight 
          a(href=`/stores/}`) 툴 & 팁
        p oneone
      .subject.subject--two
        h3.title.highlight 과정
      .subject.subject--three
        h3.title.highlight  강의
      .subject.subject--four
        h3.title.highlight  소통창