extends layout

include mixins/_sideMenu

block withMenu
  .javascript
    +sideMenu(h.javaScriptMenu)
    .introduction
      h1=title
      h5 코딩을 배울때 우선적으로 알아야 하는것은 프로그래밍 언어의 데이타 타입(type)입니다. 한글의 모음과 자음을 배우듯이 영어의 알파벳 스펠링을 배우는것처럼 코딩의 기본이 되는 글자 타입, 숫자 타입 등을 말합니다. 그리고 Operator(연산자)란 프로그램의 데이터를 처리(계산)하여 결과를 산출하는 부호 또는 기호입니다. 즉, 더하기, 빼기, 곱하기, 나누기 등의 기호 등을 말하는것이죠. 
        br
        br
        |자바스크립트에는 6개의 원시 타입(Primitive type)과 객체 타입(Object) 총 7개 종류의 타입이 있습니다.
        ol
          li String(문자열)
          li Number(숫자)
          li Bigint(큰 정수값)
          li Boolean(불리언 = true or false)
          li Symbol(심볼)
          li undefined(정의되지 않은 값)
          li 그리고 Object(객체 타입)가 있습니다. Object를 한국어로 해석하면 물건, 물체라는 뜻이죠. Object는 다시 Array, Function, Date, RegExp같은 데이터들로 나눠지는데 일단 여기선 하나의 객체 타입으로 구분 된다고 아시면 됩니다.
        br
        |그럼 각각의 타입들의 세부 설명 드리겠습니다.
      h3 Number(숫자)
        p 우리가 일반적으로 사용하는 1,2,3..등 숫자를 표현할때 쓰는 숫자 타입입니다. 정수와 소수점 모두 사용이 가능합니다. 특징이 있다면 3가지의 의미있는 상징적인 값들을 표현할수 있다는것이죠. 이 값에는 +Infinity(무한대), -Infinity 그리고 NaN (숫자가 아님)이라는 표현이 있는데 이또한 아라비안 숫자와 더불어 숫자 타입에 포함된다는 것입니다.
          br
          |자바스크립트는 컴퓨터가 숫자를 이해할수 있도록 "64비트 형식 IEEE754 값"이란걸 사용하는데 (코딩에 입문하시는 단계에서는 이런것까지 잘 모르셔도 됩니다. 심심하실때 인터넷 찾아보셔요.) 제가 말하고자 하는건 이렇게 컴퓨터가 숫자를 정의하기 때문에 간혹 이상한 숫자 계산이 발생할수 있다는 겁니다. 가령, 0.1 + 0.2 를 계산하면 0.30000000000000004 이렇게 나와서 황당할수가 있으니 필요에 따라 소숫점 자릿수를 정의하셔야 한다는겁니다. 그 부분은 차차 연산자를 배울때 알려드리겠습니다.
      h3 Bigint(큰 정수값)
        p 숫자타입은 우리가 흔히 사용하는 아라비안 숫자 입니다.
      
      h3 2020년 Stock Overflow (세계적인 프로그래머 커뮤니티)의 설문 조사에 따르면 현재 제일 많이 사용되는 언어로 선정되었죠.👍
      img(src='/images/photos/javascript-demand.png' alt="자바스크립트 인기")
      h3
        a(href="/javascript/types") 그럼 이제 우리에게 많은 기회와 행운을 가져다줄 자바스크립트를 본격적으로 배워볼까요?