extends layout

include mixins/_sideMenu

block withMenu
  .inner
    .javascript
      +sideMenu(h.javaScriptMenu)
      .pageContent
        h1=title
        h6 
          span.comment 어떤 순서로 자바스크립트와 코딩을 배우는게 효과적인지 배우는 입장에선 알기가 어려울수 밖에 없죠. 본인이 처음부터 배워보고 훗날 뒤돌아봤을때 어떤 순서로 배우는게 효과적이었을지 정리가 가능하게 되는거 같습니다.
          | 저도 공대를 나온 전공자가 아니여서 거의 독학으로 배웠어요. 그래서 프로그래머로 취직하고 자신감이 생기는데 까지는 엄청 힘들고 시간 허비가 많았던거 같습니다. 제가 알려드리는 방법과 순서가 최선인지는 모르겠지만 학교 코스와 붓캠프들 코스들 조사하고 내가 직접해본 후 나름 정리한 순서와 추려낸 과제들이 입문자들에겐 많은 도움이 될거라는 자신은 있습니다. 처음엔 이해가 잘 안되는 부분이 많겠지만 여러 소스를 통해 계속 반복적으로 시간을 투자하시면 누구나 할수 있다는것을 말씀드리고 싶습니다.
          br
          br
          | var, let 그리고 const는 모두 data를 메모리상에 저장할수 있는 공간을 의미합니다.
          span.comment 이해를 돕기위해 일종의 가상의 상자라고 생각해도 될거 같아요. 그 안에 물건(데이타)을 넣었다가 빼고 다른 물건을 넣을수도 있는것처럼요.
          br
