doctype html
html(lang="ko")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet' href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/coding-school.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body
    block header
      header
        nav.nav
          .nav__section
            li.nav__item
              a.nav__link(href="/", class=(currentPath.endsWith('/') ? 'nav__link--active' : '')) 
                != h.icon('heart')
          .nav__section.nav__section--search
            .search
              input.search__input(type="text" placeholder="Search by k-food name or ingredient" name="search")
              .search__results
          .nav__section.nav__section--user
            li.nav__item.dropdown
                a(href="/cook" class="nav-link nav__link" class=(currentPath.startsWith('/cook') ? 'nav__link--active' : '') id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")  Cooking 🔽
                ul( class="dropdown-menu" aria-labelledby="navbarDropdown")
                  li
                    a(class="dropdown-item" href="/recipes") Recipes
                  li
                    a(class="dropdown-item" href="/ingredients") Ingredients
                  li
                    a(class="dropdown-item" href="/kitchenware") Kitchenware
                  li
                    hr.dropdown-divider
                  li
                    a(class="dropdown-item" href="/minari") Mirari Items
            li.nav__item.dropdown
                a(style={} class="nav-link nav__link" class=(currentPath.startsWith('/shop') ? 'nav__link--active' : '') href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")  Community 🔽
                ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                  li
                    a(class="dropdown-item" href="/blogs") Blogs
                  li
                    a(class="dropdown-item" href="/userPosts") User Posts
                  li
                    hr.dropdown-divider
                  li
                    a(class="dropdown-item" href="/sales") On Sales
            li.nav__item: a.nav__link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__link--active' : '')) About
            if user
              li.nav__item: a.nav__link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__link--active' : '')) Log-Out
              li.nav__item: a.nav__link(href="/account", class=(currentPath.startsWith('/account') ? 'nav__link--active' : '')) My Acct.
            else
              li.nav__item: a.nav__link(href="/login", class=(currentPath.startsWith('/login') ? 'nav__link--active' : '')) Log-In
              li.nav__item: a.nav__link(href="/register", class=(currentPath.startsWith('/register') ? 'nav__link--active' : '')) Join Community

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block content

    footer.footer__section
      .footer__section--container
        .socialLinks
          h5 코딩 정보 공유 소셜
          p instagram : 
            span
              a(href="") @instagram
          p facebook : 
            span
              a(href="") @facebook
          p youtube : 
            span
              a(href="") @youtube
        .directContacts
          h5 일 관련 연락처
          p email : 
            span
              a(href="") stoicSanbunam@gmail.com
          p website : 
            span
              a(href="") dcs.com
          p meetup : 
            span
            a(href="") @meetup.com

    block scripts
      script(src="/dist/App.bundle.js")
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")