extends layout

include mixins/_sideMenu
include mixins/_review

block withMenu
  .inner
    .preparation
      +sideMenu(h.preparationMenu)
      p main Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      //- +review()
