extends layout

block content
  .inner
    h1 Free Membership
    .freeMembership
      form.form(action="/register" method="POST")
        h2 Little kindness goes long way.
        label(for="name") Nickname
        input(type="text" name="name")
        label(for="email") Email
        input(type="email" name="email")
        label(for="password") Password
        input(type="password" name="password")
        label(for="password-confirm") Confirm password
        input(type="password" name="password-confirm")
        input.btn.btn--green(type="submit" value="Join Community")

      .bucketList
        span.postage.shadow Korean Food
          .circle
        span.postage.shadow Programing
          .circle
        span.postage.shadow Crypto Coins
          .circle
        img(src="/images/photos/digital-nomads.jpg")