mixin courseCard(course = {})
  .store
    .store__hero
      .store__actions
        button learn
      img(src=`/uploads/${course.photo || 'store.png'}`)
      h2.title
        a(href=`/course/${course.slug}`) #{course.name}
    .store_details
      p= course.description.split(' ').slice(0, 25).join(' ')