mixin courseCard(course = {})
  .course
    .course__hero
      .course__actions
      img(src=`/uploads/${course.photo || 'course.png'}`)
      h2.title
        a(href=`/course/${course.slug}`) #{course.name}
    .course__details
      p= course.description.split(' ').slice(0, 25).join(' ')