mixin courseCard(course = {})
  .course
    .course__img
      img(src=`/uploads/${course.photo || 'store.png'}`)
      p testss
    .course_details
      h2.title
      a(href=`/course/${course.slug}`) #{course.name}
      p= course.description.split(' ').slice(0, 25).join(' ')