mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 패스워드 리셋이 필요하세요?
    label(for="email") 이메일로 링크 보낼게요.
    input(type="email" name="email")
    input.button(type="submit" value="패스워드 찾기")