mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Please Log-In.
    label(for="email") 이메일 email
    input(type="email" name="email")
    label(for="password") 패스워드 password
    input(type="password" name="password")
    input.button(type="submit" value="로그인")
  
  .div
    h2 내게 능력주시는 하나님안에 내가 주의 뜻을 이루리라.
    img(src="/images/photos/Elon-musk-no-degree.png")