mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Please Log-In.
    label(for="email") 이메일 email
    input(type="email" name="email")
    label(for="password") 패스워드 password
    input(type="password" name="password")
    input.button(type="submit" value="로그인")
  
  .bucketList
    span.postage.shadow 코딩 배우기
      .circle
    span.postage.shadow 포토폴리오 만들기
      .circle
    span.postage.shadow 취직하기
      .circle
    img(src="/images/photos/digital-nomads.jpg")