mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Please Log-In.
    label(for="email") 이메일 email
    input(type="email" name="email")
    label(for="password") 패스워드 password
    input(type="password" name="password")
    input.button(type="submit" value="로그인")