mixin sideMenu()
  .sideMenu
    nav.verticalTags
      each item in h.sideMenu
        li.tag
          a.tag__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'tag__link--active' : ''))
            span.tag__text #{item.icon} #{item.title}
