mixin sideMenu(menu)
  .sideMenu
    nav.verticalTags
      each item in menu
        li.tag
          a.tag__link2(href=item.slug, class=(currentPath.endsWith(item.slug) ? 'tag__link2--active' : ''))
            span.tag__text #{item.icon} #{item.title}
