.hide {
  text-indent: -999999px;
  font-size: 0;
}

.postage {
  width: 100%;
  min-width: 250px;
  display: block;
  height: 50px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #ffcf3e 35%, #ffe79d 100%);
  margin-bottom: 20px;
  padding: 15px 25px 0 40px;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
}

.shadow {
  position: relative;
  &:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 7px;
    width: 75%;
    top: 0;
    box-shadow: 0 15px 10px #777;
    transform: rotate(4deg);
    transition: all 150ms ease-in-out;
  }
}

.box:hover {
  background: linear-gradient(to right, #ffcf3e 0%, #ffcf3e 100%);
}
.shadow:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5),
    inset 0 0 0 25px antiquewhite;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}

.card {
  background: $white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

pre.error {
  padding: 5rem;
  background: $white;
  line-height: 3;
  white-space: pre-line;
}
