@keyframes gritty {
  from {
    background-position: 0;
  }
  to {
    background-position: -600px;
  }
}

.grit {
  background: url("/images/photos/blackgrit.png");
  background-size: 600px;
  position: relative;
  &:hover {
    animation: gritty 2s steps(10) infinite;
  }
}
