@keyframes gritty {
  from {
    background-position: 0;
  }
  to {
    background-position: -600px;
  }
}

.grit {
  background: url("/images/photos/blackgrit.png");
  background-size: 600px;
  padding: 2rem 2rem 2rem 0;
  position: relative;
  &:hover {
    animation: gritty 2s steps(10) infinite;
  }
}

.highlight {
  // font-weight: 500;
  padding: 1rem;
  letter-spacing: -1px;
  background: url("/images/photos/blackgrit.png");
  background-color: #ffc600;
  &:hover {
    animation: gritty 2s steps(10) infinite;
  }
}
