input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $grey;
  &.input {
    &--error {
      border-color: $red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

.freeMembership {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10rem;
  .form {
    max-width: 500px;
    height: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: $shad;
    & + .form {
      margin-top: 4rem;
    }
    input[type="password"] {
      margin-bottom: 2rem;
    }
    h2 {
      margin: 0;
      font-size: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $grey;
    }
  }
  .bucketList {
    box-shadow: $shad;
    height: 100%;
  }
}
