.introduction {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  .heading {
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  h1 {
    padding: 2rem 0;
    &::before {
      background-color: $yellow;
      width: 0.75em;
      height: 0.75em;
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: -1;
      --translate: -0.5rem;
      --rotate: 3deg;
      transform: translateX(var(--translate)) translateY(var(--translate))
        rotate(var(--rotate));
    }
  }
  h3 {
    position: relative;
    &::before {
      background-color: $yellow;
      width: 0.75em;
      height: 0.75em;
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: -1;
      --translate: -0.5rem;
      --rotate: 3deg;
      transform: translateX(var(--translate)) translateY(var(--translate))
        rotate(var(--rotate));
    }
  }

  .title {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .cause {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f25460;
    .desc {
      padding: 1rem 2rem;
    }
    .imgHeight {
      max-height: 340px;
      width: 100%;
    }
  }

  .intro {
    z-index: -1;
    padding: 1rem 2rem;
    &--whoAmI {
      background-color: #ffde2b;
    }
    &--codingIs {
      background-color: #9658fa;
    }
    // &--whatToKnow {
    //   background-color: #f25460;
    // }
    &--whatToDo {
      background-color: #2bdeff; //0cf090
    }
  }
}

.subjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  .subject {
    // min-width: 20rem;
    box-shadow: $shad;
    border-radius: 10px;
    .highlight {
      position: relative;
      margin-top: -2rem;
      font-size: 3.5rem;
      font-weight: 500;
      letter-spacing: -1px;
      background: url("/images/photos/blackgrit.png");
      background-color: #ffc600;
      padding: 0.5rem 0.5rem 0.5rem 1.5rem;
      &:hover {
        animation: gritty 2s steps(10) infinite;
      }
    }
    &--one {
      background-color: #f25460;
    }
    &--two {
      background-color: #ffde2b;
    }
    // &--three {
    //   background-color: #9658fa;
    // }
    // &--four {
    //   background-color: #2bdeff;
    // }
  }
}
