.introduction {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 auto;
  max-width: 990px;
  .heading {
    margin: 3rem auto 2rem auto;
  }
  h1 {
    font-size: 6rem;
    &::before {
      background-color: $blue;
      width: 0.75em;
      height: 0.75em;
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: -1;
      --translate: -0.5rem;
      --rotate: 3deg;
      transform: translateX(var(--translate)) translateY(var(--translate))
        rotate(var(--rotate));
    }
  }
}

.features {
  max-width: 990px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  justify-items: center;
  margin: 0 auto;
  &--title {
    grid-column: 1 / -1;
    margin: 2rem auto;
  }
  .codingCommunityContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    .codingCommunity {
      max-width: 30rem;
      border-radius: 5px;
      border: 1px solid black;
      &--image {
        height: 200px;
        background-color: #4571c9;
        background-image: url("/images/photos/bg16.png");
        background-size: auto 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
      &--text {
        padding: 30px 20px 10px;
      }
    }
  }
}

.inspirationalQuotes {
  background-image: url("/images/photos/mountain-range.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  &--quote {
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    text-align: center;
    margin: 0 auto;
    max-width: 55rem;
    min-height: 30rem;
  }
}

.promotionalContents {
  margin: 3rem auto;
  &--title {
    margin: 6rem auto;
    text-align: center;
    line-height: 0;
    img {
      width: 4rem;
    }
  }
  &--display {
    max-width: 990px;
    margin: 0 auto;
  }
  &--posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  &--polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      overflow: hidden;
      padding: 2rem;
      padding-bottom: 0;
    }
  }
  &--polaroid__text {
    text-align: center;
  }
}
