.javascript {
  display: grid;
  grid-template-columns: 30rem 1fr;
}
.codeExample {
  padding: 1rem;
  list-style: none;
  font-size: 1.8rem;
  background-color: $yellow;
  line-height: 1.3;
  font-family: "Courier New", Courier, monospace;
}
.comment {
  background-color: $green;
  text-decoration-line: none;
}
.quotes {
  width: 600px;
  margin: 0 auto;
}
.underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
