.javascript {
  display: grid;
  grid-template-columns: 30rem 1fr;
  .introduction {
    max-width: 900px;
    h5 {
      line-height: 1.4;
      span {
        text-decoration-line: underline;
        text-decoration-style: solid;
      }
    }
    a {
      background: $yellow;
    }
  }
}
