.journey {
  display: grid;
  grid-template-columns: 30rem 1fr;
  &__menu {
    position: relative;
    height: 100%;
    background: $black;
    height: 50vh;
    ul {
      color: white;

      li {
        color: white;
      }
    }
  }
}
