html {
  box-sizing: border-box;
  position: relative;
}

body {
  background: #ffffff;
  background: url("/images/photos/bg9.png") repeat;
  &:before {
    content: "";
    display: block;
    background: $yellow;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width: 1060px;
  margin: 0 auto;
  // @media all and (max-width: 1060px) {
  //   padding: 2rem;
  // }
}

.footer {
  min-height: 25rem;
  background-color: $black;
}
