html {
  box-sizing: border-box;
  position: relative;
}

body {
  background: $white;
}

.inner {
  max-width: $innerContainer;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  @media all and (max-width: $innerContainer) {
    padding: 2rem;
  }
}

.footer__section {
  width: 100%;
  background-color: $black;
  box-shadow: $shad;
  color: $white;
  justify-content: center;
  align-items: center;
  &--container {
    max-width: $innerContainer;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .socialLinks {
      margin-left: 7rem;
      grid-column: 1;
    }
    .directContacts {
      margin-left: 7rem;
      grid-column: 2;
    }
    a {
      color: $white;
    }
  }
}
