html {
  box-sizing: border-box;
  position: relative;
}

body {
  background: #ffffff;
  background: url("/images/photos/handsome.jpg") center top no-repeat;
  &:before {
    content: "";
    display: block;
    background: $yellow;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}
