.reviewForm {
  max-width: 860px;
  margin: 0 auto;
  a {
    color: $blue;
    border-bottom: 1px solid $yellow;
  }
}

.reviews {
  max-width: 860px;
  margin: 0 auto;
}

.review {
  background: white;
  border: 1px solid $grey;
  border-bottom: 0;
  border-bottom: 1px solid $grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 5px;
  margin: 2rem auto;
  &:before {
    width: 1.5px;
    left: 0;
    content: "";
    display: block;
    background: $red;
    position: absolute;
    height: 100%;
    background-attachment: fixed;
  }
  &__header {
    border-bottom: 1px solid $grey;
    display: flex;
    & > * {
      border-right: 1px solid $grey;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__author {
    justify-content: flex-start;
    padding-left: 2rem;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    .avatar {
      margin-right: 2rem;
    }
  }
  &__time {
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  &__stars {
    color: $blue;
    padding-top: 0;
    padding-bottom: 0;
  }
  &__body {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  p {
    white-space: pre-wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}
