$innerContainer: 1060px;
$white: #ffffff;
$black: #1b212c;
$yellow: #ffcf3e;
$green: #27c497;
$red: #ec3944;
$blue: #4e7cd8;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
$grad: linear-gradient(
  90deg,
  #48ded4 0%,
  #a026bf 20%,
  #e82c75 60%,
  $yellow 85%,
  #48ded4 95%
);
$verticalGrad: linear-gradient(
  0,
  #48ded4 0%,
  #a026bf 20%,
  #e82c75 60%,
  $yellow 85%,
  #48ded4 95%
);
